<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>825580714539-1m3gaakr79bgtv0avu317ev5rh5tavsc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.825580714539-1m3gaakr79bgtv0avu317ev5rh5tavsc</string>
	<key>API_KEY</key>
	<string>AIzaSyB_G4wqLEJyU5IR0gJ8pBIWjfDPVCbIPB0</string>
	<key>GCM_SENDER_ID</key>
	<string>825580714539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.bts</string>
	<key>PROJECT_ID</key>
	<string>btsauth</string>
	<key>STORAGE_BUCKET</key>
	<string>btsauth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825580714539:ios:8e07dc1f5604138c4ec86e</string>
</dict>
</plist>