<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>669015865828-n0vb9ap36f70lqndcfmgnu7v3v61k151.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669015865828-n0vb9ap36f70lqndcfmgnu7v3v61k151</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>669015865828-9st1nm0omm84tm1d8774hdpqjl84if4t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAQLJe1ZvklDpRcxvlaoywirJ8Tb-ol71o</string>
	<key>GCM_SENDER_ID</key>
	<string>669015865828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bakkourabts</string>
	<key>PROJECT_ID</key>
	<string>bakkoura-app</string>
	<key>STORAGE_BUCKET</key>
	<string>bakkoura-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669015865828:ios:76636d9b48ae418cd26ff1</string>
	<key>DATABASE_URL</key>
	<string>https://bakkoura-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>